<!DOCTYPE html>
<html lang="es">
  <head th:replace="layout/layout :: cdn"></head>

  <body>
    <!--Barra de navegacion-->

    <nav th:replace="layout/layout :: menuAll"></nav>

    <div class="row justify-content-center mt-5">
      <div class="continer col-md-8">
        <table class="table table-warning table-striped">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">nombre</th>
              <th scope="col">apellido</th>
              <th scope="col">fecha</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="cliente : ${clientes}">
              <td th:text="${cliente.id}"></td>
              <td th:text="${cliente.nombre}"></td>
              <td th:text="${cliente.apellido}"></td>
              <td th:text="${cliente.createAt}"></td>
              <td>
                <a class="btn btn-info" th:href="@{/form/}+${cliente.id}"
                  >Actualizar</a
                >
                <a class="btn btn-warning" th:href="@{/eliminar/}+${cliente.id}"
                  >ELiminar</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div th:replace="layout/layout :: script"></div>
  </body>
</html>
